body{
    font-family: 'Archivo Black', sans-serif;
}
h1{
 color: rgb(87, 85, 85);
 font-size: 50px;
}
.orange-color{
    color: orange;
}

.flexible-content{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 60px;
}
.half-width img{
    width: 90%;
}
.paragraph-color{
    color: rgb(107, 104, 104);
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.div-padding{
    padding-top: 100px;
}
.button-design{
    background-image: linear-gradient(to right,rgb(252, 175, 33),rgb(245, 68, 45));
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 3% 10%;
    box-shadow: 0px 1px 20px 0px rgb(240, 197, 118);

    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.about-padding{
    padding-top: 100px;
}
.about-padding p{
    width: 80%;
}
.paragraph-color-about-us{
    color: rgb(34, 31, 31);
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.about-us-text{
    font-size: 40px;
    color:gray ;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
}
.about-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.recipies-header{
    text-align: center;
}
.recipies-header h1{

    font-weight: 200px;
    font-size: 40px;
}
.recipies-header p{
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.recipies-items{
    width: 90%;
    padding: 5%;
    padding-left: 8%;
}
.item-width{
    width: 30%;
    margin-right: 6%;
    
}
.item-width img{
    width: 100%;
}
.item-width p{
    width: 80%;
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.item-shadow-and-shape{
    border-radius: 20px;
    padding-left: 30px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 1px 20px 0px rgb(80, 79, 77);
}

.social-counter-section{
    
    height: 150px;
    box-shadow: 0px 1px 20px 0px rgb(153, 151, 148);
    border-radius: 10px;
    margin: 7%;
}
.social-section{
    padding-top: 10px;
    line-height: 10px ;
    padding-left: 15%;
}
.social-section h1{
    color: black;
}
.social-section p{
    
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.footer-section{
    background-color: rgb(21, 21, 24);
    width: 100%;
    height: 250px;
}
.footer-section h1{
    padding-top: 2%;
    font-size: 35px;
    text-align: center;
}
.footer-section h3{
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.white-color{
    
    color: blanchedalmond;
}